body {
  Background: linear-gradient(100deg, #edca37, #0a004a);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial';
}

/* texto animado */
.animated-voltando {
  font-size: 2vw; /* Usando viewport width como unidade de medida relativa */
  color: #000000;
  position: relative;
  left: 20%; /* Reduzi o valor para se adequar melhor */
  margin-bottom: 40%;
  animation: jump4ndChange 2s infinite, colorChange 4s infinite;
}

/* animações texto*/
@keyframes jumpAndChange {
  0%, 100% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(-20px);
  }
}

@keyframes colorChange {
  0%, 100% {
    color: inherit;
  }
  50% {
    color: #ffffff;
  }
}

/* caixa meli */
.box {
  right: 15%;
  position: relative;
  width: 200px;
  height: 300px; /* Adjust the height as needed */
  background-color: #000000; /* Alterado para a cor #a78a69 */
  border: 2px solid #221e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.lid {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #000000;
  border-bottom: 2px solid #333;
  top: 0;
}

.body {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #a78a69;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.body .logo {
  max-width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tape {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: yellow;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: tapeAnimation 4s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tape .logo {
  max-width: 50px;
}

.seal-line {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #a5917a;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}

.box.lacrado .seal-line {
  opacity: 0;
}

@keyframes tapeAnimation {
  0%, 100% {
    top: -100%;
  }
  50% {
    top: 100%;
  }
}
/* fim da caixa */

/* van meli */
.img-van {
  left: 15.7%;
  top: 10%; 
  width: 800px; 
  height: auto; 
  border: 10px solid #ffffff; 
  text-align: center; 
  position: relative; 
  box-shadow: 0 0 1000px rgba(255, 255, 255, 2000);
}

.img-van img {
  width: 100%; 
  height: auto; 
  box-shadow: 0 0 1000px rgba(255, 255, 255, 2000);
}

.img-van::before {
  content: "#o melhor tá chegando 💪";
  color: #000000; 
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 5px; 
  font-size: 12px; 
  display: block;
  box-shadow: 0 0 1000px rgba(255, 255, 255, 2000);
}

.img-van .overlay-text {
  position: absolute;
  top: 10px; 
  left: 10px;
  color: #f0f0f0; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px; 
  font-size: 12px; 
}

/* Estilos para telas grandes */
@media (min-width: 768px) {
  .animated-voltando {
    font-size: 40px;
    right: 5%;
    margin-bottom: 20%;
  }
  
  .box {
    display: block; /* Mostra a caixa apenas em telas grandes */
    right: 15%;
    width: 200px;
    height: 300px;
  }
  
  .img-van {
    left: 15.7%;
    top: 10%;
    width: 800px;
  }
}

/* Estilos para telas pequenas */
@media (max-width: 1248px) {
  .animated-voltando {
    font-size: 40px;
    right: 0;
    margin-bottom: 10%;
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .box {
    display: none; /* Oculta a caixa em telas médias e pequenas */
  }
  
  .img-van {
    left: 5%;
    top: 5%;
    width: 300px;
  }
}

