<!--Template utilizada: startbootstrap-resume-gh-pages  -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
     <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/curriculo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mycurriculo_style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>
<body id="page-top">
    <!-- fab -->
    <div class="fixed-bottom text-right p-2">
        <a target="_blank" class="social-icon icon-fab" href="https://api.whatsapp.com/send?phone=5511996175768"><i class="fab fa-whatsapp"></i></a>
    </div>
    <a href="/return"><button class="container mx-5"id="Button">Clique Aqui para retornar para a operação</button></a>
    <!-- Navegação-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Gustavo Novaes</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.png" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sobre</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiência</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educação</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Reconhecimentos</a></li>
            </ul>
        </div>
    </nav>
    <!-- Sobre-->
    <div class="container-fluid p-0" data-aos="fade-down">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">Gustavo <span class="text-primary">Novaes </span></h1>
                <div class="subheading mb-5">19 anos  ·  <a href="https://www.google.com/maps/search/?api=1&query=Rua Reinaldo Porchat Francisco Morato">Rua Reinaldo Porchat ·  Jardim Prof. Francisco Morato, SP 07910-170 </a> 
                    <br>  
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5511996175768">(11) 99617-5768</a>
                    <br>
                    <a href="mailto:gunovaes16@gmail.com">gunovaes16@gmail.com</a>
                </div>
                <p class="lead mb-5">Me formei recentemente no curso de Análise e Desenvolvimento de Sistemas, estou ansioso para dar o próximo passo na minha jornada de aprendizado e aplicar meu conhecimento em um ambiente profissional. Minha busca é por uma oportunidade na área de Desenvolvimento Front-end ou demais áreas do time de IT, onde eu possa não apenas adquirir experiência prática, mas também contribuir significativamente para o crescimento da empresa.</p>
                <div class="social-icons">
                    <a class="social-icon" target="_blank" href="https://www.instagram.com/gunovaes/"><i class="fab fa-chrome"></i></a>
                    <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/gustavo-novaes-0074a0203/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" target="_blank" href="https://github.com/Gunovaes"><i class="fab fa-github"></i></a>
                    <a class="social-icon" target="_blank" href="https://www.instagram.com/gunovaes/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <!-- Experiência-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5" data-aos="fade-rigth">Experiência</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0" data-aos="fade-left" >Representante de envios no MELI</h3>
                        <div class="subheading mb-3" data-aos="fade-left">Mercado Envios</div>
                        <div data-aos="fade-left">
                            <p>Durante o meu tempo no Mercado Livre, tive a incrível oportunidade de trabalhar no setor logístico, onde encontrei não apenas um ambiente profissional estimulante, mas também um lugar onde pude crescer pessoalmente. Durante esse período, experimentei um alto nível de autoconhecimento profissional e desenvolvimento contínuo.
                                Além disso, tive a oportunidade de participar de treinamentos e workshops que me permitiram expandir meu conhecimento em logística e empreendedorismo.
                            </p>
                            <p>O que tornou essa experiência ainda mais valiosa foi a paixão que sentia todos os dias ao trabalhar no Mercado Livre. A cultura da empresa, focada em inovação, empreendedorismo e excelência, alinhava-se perfeitamente com os meus valores e aspirações profissionais. Eu me sentia motivado e acolhido para dar o meu melhor e a colaborar para o sucesso da equipe e da empresa como um todo.</p>
                            <p>No entanto, apesar da minha satisfação e crescimento na área de logística, decidi sair do Mercado Livre para focar em meus estudos e buscar novos desafios. Agora, estou ansioso para trilhar um novo caminho na área de desenvolvimento de software, onde acredito que posso aplicar os conhecimentos adquiridos e agregar valor de maneira significativa para a equipe e para ajudar o Meli na missão de democratizar o comércio eletrônico.</p>
                            <p>Voltar ao Mercado Livre, desta vez na parte de desenvolvimento de software, seria um sonho realizado. Estou confiante de que minha experiência prévia na empresa, combinada com meu desejo de aprendizado constante e minha paixão por tecnologia, me permitirão contribuir de forma valiosa para a equipe de desenvolvimento. Estou ansioso para a oportunidade de reunir o meu amor pela inovação tecnológica com a cultura inspiradora do Mercado Livre, buscando cooperar sempre para o seu contínuo sucesso.</p>
                        </div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary" data-aos="fade-left">Janeiro 2022 - Fevereiro 2023</span></div>
                </div>
                <!-- Fotos MELI -->
                <div id="meli">
                    <div class="image-container" data-aos="fade-left">
                        <img src="img/RC01.jpg" alt="">
                        <span class="tooltip">Foto tirada em RC01</span>
                    </div>
                    <div class="image-container" data-aos="fade-right">
                        <img src="img/XSP9.jpg" alt="">
                        <span class="tooltip">Foto tirada em XSP9</span>
                    </div>
                </div>
                <p class="mt-4">Minha jornada no Mercado Livre na área de logística foi marcada por desafios empolgantes e aprendizado constante. 
                    <p>Contribuí ativamente em todos os processos em XSP9 e RC-01, conheço a rede do Meli, os desafios e os valores da empresa.</p>  
                </p>
            </div>
        </section>
        <hr class="m-0">
        <!-- Educação-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5" data-aos="fade-right">Educação</h2>
                
                <!-- Universidade -->
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5" data-aos="fade-left">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Universidade Nove de Julho (UNINOVE)</h3>
                        <div class="subheading mb-3">Superior</div>
                        <div>Tecnólogo - Análise e Desenvolvimento de Sistemas</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Janeiro 2021 - Dezembro 2023</span></div>
                </div>
                
                <!-- Ensino médio -->
                <div class="d-flex flex-column flex-md-row justify-content-between" data-aos="fade-left">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Etec Centro Paula Souza</h3>
                        <div class="subheading mb-3">Ensino técnico integrado ao médio</div>
                         <div>Tecnico - Administração de Empresas</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Janeiro 2018 - Dezembro 2020</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />

        <!-- Skills -->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5" data-aos="fade-right">Skills</h2>
                <!-- Linguagens de programação -->
                <div class="subheading mb-3" data-aos="fade-left">LINGUAGENS E FERRAMENTAS DE PROGRAMAÇÃO</div>
                <ul class="list-inline dev-icons" data-aos="fade-left">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <!-- Soft Skills -->
                    <div class="subheading mb-3" data-aos="fade-left">Soft Skills</div>
                    <ul class="fa-ul mb-0" data-aos="fade-left">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span><div class="">Teste e depuração entre navegadores</div>
                        </li>
                           <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span> Design responsivo e voltado para atender dispositivos móveis
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Organização
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Trabalho em equipe
                        </li>
                         <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Adaptabilidade
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
        <!-- Reconhecimentos-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5" data-aos="fade-right">Reconhecimento</h2>
                <ul class="fa-ul mb-0">
                    <li data-aos="fade-left">
                        <span class="fa-li" data-aos="fade-right"><i class="fas fa-trophy text-warning" data-aos="fade-left"></i ></span>Compito em equipe para ganhar
                    </li>
                   <div class="round-image-container mt-5" data-aos="fade-left">
                        <div class="image-wrapper">
                            <img src="img/fotobrochi.jpg" alt="Foto">
                        </div>
                        <span class="popup">Reconhecimento feito pelo Team Leader João Lázaro em XSP9</span>
                    </div>
                </ul>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>
