<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="index">
  <div class="animated-text">CLIQUE NO COLETOR DE DADOS PARA INICIAR!!</div>
  <a href="/loading">
    <div class="image-container">
      <img src="img/handheld.png" alt="Imagem de fundo">
    </div>
  </a>
</body>
</html>




